/*@media only screen and (min-width: 640px) {
  /deep/ .menu ul li:nth-last-child(1) {
    position: absolute !important;
    top:1px !important;
    right:0 !important;
    width: 100px;
  }

  /deep/ .menu ul li:nth-last-child(2) {
    position: absolute !important;
    top:1px !important;
    right:100px !important;
  }
}*/

/deep/ .menu {
  position: -webkit-sticky;
    position: sticky;
    top: 0;
  width: 100%;
  z-index: 10000;
}

