<p-toast [style]="{marginTop: '50px'}"></p-toast>
<h2>Watched</h2>
<p-dataView #dv [value]="series" [paginator]="true" [rows]="8" paginatorPosition="both" filterBy="title"
            [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-5">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort by"
                      (onChange)="onSortChange($event)" [style]="{'min-width':'150px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-3" style="text-align:center">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by title" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <button pButton type="button" style="height: 32px;margin-right:5px" icon="pi pi-info-circle"
                  (click)="showDetails()" label="Detailed view"></button>
          <p-dataViewLayoutOptions>
          </p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-series pTemplate="listItem">
    <div class="ui-g-12">
      <div class="series-details">
        <img class="ui-g-2" [alt]="series.title + ' cover image'" style="min-height:200px; min-width:150px"
             [attr.src]="series.cover">
        <div class="ui-g">
          <div class="ui-g-12"><b>Title:</b> {{series.title}}</div>
          <div class="ui-g-12"><b>Genre:</b> {{series.genres[0].name}} | {{series.genres[1].name}} <span
            *ngIf="series.genres[2]">| {{series.genres[2].name}}</span></div>
          <div class="ui-g-12" *ngIf="!display"><b>Description:</b> {{series.desc}}</div>
          <div *ngIf="display">
            <div class="ui-g-12"><b>Release year:</b> {{series.release}}</div>
            <div class="ui-g-12"><b>Description:</b> {{series.longDesc}}</div>
          </div>
          <div class="ui-g-12">
            <p-dropdown *ngIf="authService.isLoggedIn" class="ui-g-8" [options]="listOptions"
                        placeholder="Add to My Series" (onChange)="onListChange($event, series)"
                        [style]="{'min-width':'140px'}"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-series pTemplate="gridItem">
    <div style="padding:.5em; text-align:center" class="ui-g-12 ui-md-3">
      <p-panel [header]="series.title">
        <img [alt]="series.title + ' cover image'" style="height:200px; float: none" src="{{series.cover}}">
        <div class="series-detail" class="ui-g-12" style="text-align:center">{{series.release}}</div>
        <hr class="ui-widget-content" style="margin-top:30px">
        <p-dropdown *ngIf="authService.isLoggedIn" [options]="listOptions" placeholder="Add to My Series"
                    (onChange)="onListChange($event, series)" [style]="{'min-width':'140px'}"></p-dropdown>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
