<p-toast [style]="{marginTop: '50px'}"></p-toast>
<h2>Recommended</h2>
<p-dataView #dv [value]="series" [paginator]="true" [rows]="8" paginatorPosition="both" filterBy="title"
            [sortField]="sortField" [sortOrder]="sortOrder"
            emptyMessage="There are currently no series to display for you now. Try adding more favourite genres on your profile page.">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-5">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort by"
                      (onChange)="onSortChange($event)" [style]="{'min-width':'150px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-3" style="text-align:center">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by title" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions>
          </p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-series pTemplate="listItem">
    <div class="ui-g-12">
      <div class="series-details">
        <a href="series/{{series.id}}"><img class="ui-g-2" [alt]="series.title + ' cover image'"
                                            style="min-height:200px; min-width:150px"
                                            [attr.src]="series.cover"></a>
        <div class="ui-g">
          <div class="ui-g-12"><b>Title:</b> {{series.title}}</div>
          <div class="ui-g-12" *ngIf="series.genres"><b>Genre:</b> |
            <span *ngFor="let genre of series.genres">{{genre.name}} | </span></div>
          <div class="ui-g-12"><b>Description:</b> {{series.desc}}</div>
          <div class="ui-grid-row">
            <p-dropdown *ngIf="authService.isLoggedIn" [options]="listOptions"
                        placeholder="Add to My Series" (onChange)="onListChange($event, series)"
                        [style]="{'min-width':'140px', 'margin-top':'-4px', 'margin-left':'7px'}"></p-dropdown>
            <button pButton type="button" style="margin-left:10px" icon="pi pi-info-circle"
                    routerLink="/series/{{series.id}}" label="Details"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-series pTemplate="gridItem">
    <div style="padding:.5em; text-align:center" class="ui-g-12 ui-md-3">
      <p-panel [header]="series.title">
        <a href="series/{{series.id}}"><img [alt]="series.title + ' cover image'" style="height:200px; float: none"
                                            src="{{series.cover}}"></a>
        <div class="series-detail" class="ui-g-12" style="text-align:center">{{series.release}}</div>
        <hr class="ui-widget-content" style="margin-top:30px">
        <p-dropdown *ngIf="authService.isLoggedIn" [options]="listOptions" placeholder="Add to My Series"
                    (onChange)="onListChange($event, series)" [style]="{'min-width':'140px'}"></p-dropdown>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
